* {box-sizing: border-box;}

#app-container {
  margin: 3% auto;
  max-width: 1200px;
  padding-top: 25px;
}

.btn:focus,.btn:active, .thumbnail:focus, .thumbnail:active {
   outline: none !important;
}

.slick-prev, .slick-next {
  background: black;
}

.btn:focus, .caption:focus {
  outline: none;
}

.main-content {
  width: 90%;
  margin: 15px auto 175px auto;
}

.container {
  margin-bottom: 175px;
  width: 65%;
}

.profile {
  display: inline-block;
  width: 48%;
}

.profile img {
  width: 75%;
  border-radius: 50%;
}

.logo {
  width: 40%;
  margin: 0 auto;
  text-align: center;
}

.logo a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: 200;
  margin: 8px;
}

.logo span {
  padding-top: 50px;
  padding-left: 35px;
  padding-right: 5px;
  background-color: #072351;
  color: white;
  font-size: 45px;
  margin: 0 10px;
  font-weight: 400;
}

.nav {
  text-align: center;
  margin-bottom: 75px;
}

.nav a {
  font-size: 40px;
  margin: 10px;
  color: #072351;
}

.portfolio img {
  display: inline-block;
  width: 28%;
}

.about p {
  line-height: 2;
}

.about h1 {
  font-weight: 300;
  font-size: 45px;
}

.work {
  border: none;
}

.caption {
  text-align: center;
}

.caption i {
  font-size: 20px;
}

.work-h {
  margin: 18px auto;
  text-align: center;
  font-size: 45px;
  color: black;
  font-weight: 300;
  width: 15%;
}

.skills {
  text-align: center;
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 225px;
}

.skills i {
  font-size: 60px;
  margin: auto 25px;
  color: #072351;

}

.skills p {
  margin: 25px auto;
}

.sk-one {
  margin: 18px auto;
  text-align: center;
  font-size: 45px;
  color: black;
  font-weight: 300;
  width: 15%;
  margin-top: 145px;
}

.firsthover {
  background-color: green;
  opacity: .6;
}

@media only screen and (max-width: 1142px){

  .logo {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}
