* {box-sizing: border-box;}

#app-container {
  margin: 3% auto;
  max-width: 1200px;
}

.main-content {
  width: 90%;
  margin: 15px auto 175px auto;
}

.profile {
  display: inline-block;
  width: 48%;
}

.profile img {
  width: 80%;
  border-radius: 50%;
}

.nav {
  text-align: right;
}

.logo {
  width: 35%;
  margin: 0 auto;
}

.logo a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: 200;
}

.logo span {
  padding-top: 50px;
  padding-left: 35px;
  padding-right: 5px;
  background-color: #072351;
  color: white;
  font-size: 45px;
  margin: 0 10px;
  font-weight: 400;
}

.nav a {
  font-size: 35px;
  margin-right: 5px;
  color: #072351;
}

.portfolio img {
  display: inline-block;
  width: 28%;
}

.about p {
  line-height: 2;
}

.about h1 {
  font-weight: 300;
  font-size: 45px;
}

.work {
  border: none;
}

.work-h {
  margin: 18px auto;
  font-size: 45px;
  color: black;
  font-weight: 300;
  width: 15%;
}
